[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
