# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

.vs/*
src/out/*
log.txt

src/CMakeFiles/*
src/cmake_install.cmake
src/CMakeCache.txt
src/Makefile

TheFrim

src/build/*
*.frim
imgui.ini
.vscode/settings.json

worlds/*
build/*
.vscode/*
bass.dll
bass_fx.dll

settings.dat
vgcore.2616
recorded_blueprint.cpp
